# Traitement des données des fichiers Excel hospidiag

#### Pré-requis : convertir toutes les tabs hospidiag en fichiers csv, en utilisant l'encodage UTF-8

In [29]:
import pandas as pd
import re 

missing_values_mapping = {'.z' : -2000, '.c' : -1000, '.m' : -100}

def mapping(x):
    try:
        return missing_values_mapping[x]
    except:
        return x
    
def format_decimal(x):
    return x.replace(',','.')

In [47]:
# Nous n'avons pas besoin de 2015 et 2016 qui sont dans le test set
years = [str(i) for i in range(2008, 2014)]

aggregated_dataframes = {}

for y in years:
    df = pd.read_csv('../data/hospidiag_opendata_' + y + '.csv', encoding='utf-8', sep=';')

    for col in df.columns:
        df[col] = df[col].map(mapping)
        
    for col in ['A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15']:
        df[col] = df[col].map(str)
        df[col] = df[col].map(format_decimal).fillna(-3000).map(float)
    
    df.fillna(-3000, inplace=True)
    df['annee'] = y
    aggregated_dataframes[y] = df
    print('Année', y, 'traitée')

result = pd.concat(aggregated_dataframes)
result.to_csv('../data/aggregated_hospidiag_data.csv', encoding='utf-8', sep=';')

Année 2008 traitée
Année 2009 traitée
Année 2010 traitée
Année 2011 traitée
Année 2012 traitée
Année 2013 traitée

In [48]:
import gc
del aggregated_dataframes
gc.collect()

407

In [49]:
result.describe().columns.values

array(['A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A7', 'A8', 'A9', 'CI_A1',
       'CI_A10', 'CI_A11', 'CI_A12', 'CI_A14', 'CI_A15', 'CI_A2', 'CI_A3',
       'CI_A4', 'CI_A5', 'CI_A6', 'CI_A7', 'CI_A8', 'CI_A9', 'CI_AC1',
       'CI_AC2', 'CI_AC3', 'CI_AC4', 'CI_AC5', 'CI_AC6', 'CI_AC7',
       'CI_AC8', 'CI_AC9', 'CI_DF1', 'CI_DF2', 'CI_DF3', 'CI_DF4',
       'CI_DF5', 'CI_E1', 'CI_E2', 'CI_E3', 'CI_E4', 'CI_E4_V2', 'CI_E5',
       'CI_E6', 'CI_E7', 'CI_E7_V2', 'CI_F10_D', 'CI_F10_O', 'CI_F11_D',
       'CI_F11_O', 'CI_F12_D', 'CI_F12_O', 'CI_F13_D', 'CI_F13_O',
       'CI_F14_D', 'CI_F14_O', 'CI_F15_D', 'CI_F15_O', 'CI_F16_D',
       'CI_F16_O', 'CI_F1_D', 'CI_F1_O', 'CI_F2_D', 'CI_F2_O', 'CI_F3_D',
       'CI_F3_O', 'CI_F4_D', 'CI_F4_O', 'CI_F5_D', 'CI_F5_O', 'CI_F6_D',
       'CI_F6_O', 'CI_F7_D', 'CI_F7_O', 'CI_F8_D', 'CI_F8_O', 'CI_F9_D',
       'CI_F9_O', 'P8', 'P8new', 'P9', 'RH1'], dtype=object)

In [50]:
result.columns

Index(['A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A7', 'A8', 'A9', 'CI_A1',
       ...
       'annee', 'cat', 'champ_pmsi', 'finess', 'rs', 'taa', 'taille_C',
       'taille_M', 'taille_MCO', 'taille_O'],
      dtype='object', length=179)

In [52]:
result.dtypes

A10           float64
A11           float64
A12           float64
A13           float64
A14           float64
A15           float64
A7            float64
A8            float64
A9            float64
CI_A1         float64
CI_A10        float64
CI_A11        float64
CI_A12        float64
CI_A13         object
CI_A14        float64
CI_A15        float64
CI_A16_1       object
CI_A16_2       object
CI_A16_3       object
CI_A16_4       object
CI_A16_5       object
CI_A16_6       object
CI_A17_1       object
CI_A17_2       object
CI_A17_3       object
CI_A17_4       object
CI_A17_5       object
CI_A18_1       object
CI_A18_2       object
CI_A18_3       object
               ...
Q1             object
Q10            object
Q11            object
Q2             object
Q3             object
Q4             object
Q5             object
Q6             object
Q7             object
Q8             object
Q9             object
RH1           float64
RH10           object
RH2            object
RH3            object
RH4            object
RH5            object
RH6            object
RH8            object
RH9            object
annee          object
cat            object
champ_pmsi     object
finess         object
rs             object
taa            object
taille_C       object
taille_M       object
taille_MCO     object
taille_O       object
dtype: object

In [53]:
reduced_result = result[['A7', 'A8', 'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15',
                        'CI_A1', 'CI_A10', 'CI_A11', 'CI_A12', 'CI_A14', 'CI_A15', 'CI_A2',
                        'CI_A3', 'CI_A4', 'CI_A5', 'CI_A6', 'CI_A7', 'CI_A8', 'CI_A9',
                        'CI_AC1', 'CI_AC2', 'CI_AC3', 'CI_AC4', 'CI_AC5', 'CI_AC6',
                        'CI_AC7', 'CI_AC8', 'CI_AC9', 'CI_DF1', 'CI_DF2', 'CI_DF3',
                        'CI_DF4', 'CI_DF5', 'CI_E1', 'CI_E2', 'CI_E3', 'CI_E4', 'CI_E4_V2',
                        'CI_E5', 'CI_E6', 'CI_E7', 'CI_E7_V2', 'CI_F10_D', 'CI_F10_O',
                        'CI_F11_D', 'CI_F11_O', 'CI_F12_D', 'CI_F12_O', 'CI_F13_D',
                        'CI_F13_O', 'CI_F14_D', 'CI_F14_O', 'CI_F15_D', 'CI_F15_O',
                        'CI_F16_D', 'CI_F16_O', 'CI_F1_D', 'CI_F1_O', 'CI_F2_D', 'CI_F2_O',
                        'CI_F3_D', 'CI_F3_O', 'CI_F4_D', 'CI_F4_O', 'CI_F5_D', 'CI_F5_O',
                        'CI_F6_D', 'CI_F6_O', 'CI_F7_D', 'CI_F7_O', 'CI_F8_D', 'CI_F8_O',
                        'CI_F9_D', 'CI_F9_O', 'P8', 'P8new', 'P9', 'RH1', 'finess', 'annee', 'cat']]

In [54]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
reduced_result.cat = le.fit_transform(reduced_result.cat)
reduced_result.head()

C:\Users\MC731340\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

            A7    A8     A9     A10     A11     A12     A13     A14     A15  \
2008 0 -1000.0  0.00   0.00 -2000.0 -2000.0 -3000.0 -3000.0 -3000.0 -3000.0
     1 -1000.0  5.03  12.58 -2000.0 -2000.0     0.0    67.2 -3000.0 -3000.0
     2 -1000.0  0.76   3.97 -2000.0 -2000.0     0.0    87.7    79.4    56.2
     3 -1000.0  1.98   7.67 -2000.0 -2000.0    44.8    79.9    78.4    61.4
     4 -1000.0  0.69   6.04 -2000.0 -2000.0    36.0    71.8    74.0    65.1

          CI_A1 ...   CI_F8_O  CI_F9_D  CI_F9_O         P8   P8new        P9  \
2008 0      0.0 ...   -2000.0  -3000.0  53553.0    -3000.0 -3000.0     108.0
     1    158.0 ...   -3000.0  -3000.0  -3000.0    -3000.0 -3000.0   -3000.0
     2   4269.0 ...   -3000.0  -3000.0  -3000.0  1064456.0 -3000.0  187335.0
     3  13685.0 ...   -3000.0  -3000.0  -3000.0   735002.0 -3000.0  208714.0
     4   4233.0 ...   -3000.0  -3000.0  -3000.0   438670.0 -3000.0  209990.0

           RH1     finess  annee  cat
2008 0 -3000.0  010007300   2008    3
     1 -3000.0  010007987   2008    0
     2    39.0  010008407   2008    0
     3    39.0  010780054   2008    0
     4    46.0  010780062   2008    0

[5 rows x 85 columns]

In [43]:
reduced_result.to_csv('../data/aggregated_hospidiag_data_reduced.csv', encoding='utf-8', sep=';')