# Traitement des données des fichiers Excel hospidiag

#### Pré-requis : convertir toutes les tabs hospidiag en fichiers csv, en utilisant l'encodage UTF-8

In [36]:
import pandas as pd

missing_values_mapping = {'.z' : -3, '.c' : -2, '.m' : -1}

def mapping(x):
    try:
        return missing_values_mapping[x]
    except:
        return x

In [37]:
years = [str(i) for i in range(2008, 2016)]

aggregated_dataframes = {}

for y in years:
    df = pd.read_csv('../data/hospidiag_opendata_' + y + '.csv', encoding='utf-8', sep=';')

    for col in df.columns:
        df[col] = df[col].map(mapping)

    df.fillna(-4, inplace=True)
    df['annee'] = y
    aggregated_dataframes[y] = df
    print('Année', y, 'traitée')

result = pd.concat(aggregated_dataframes)
result.to_csv('../data/aggregated_hospidiag_data.csv', encoding='utf-8', sep=';')

Année 2008 traitée
Année 2009 traitée
Année 2010 traitée
Année 2011 traitée
Année 2012 traitée
Année 2013 traitée
Année 2014 traitée
Année 2015 traitée

In [38]:
import gc
del aggregated_dataframes
gc.collect()

161

In [24]:
result.describe().columns.values

array(['CI_A1', 'CI_A10', 'CI_A11', 'CI_A12', 'CI_A14', 'CI_A15', 'CI_A2',
       'CI_A3', 'CI_A4', 'CI_A5', 'CI_A6', 'CI_A7', 'CI_A8', 'CI_A9',
       'CI_AC1', 'CI_AC2', 'CI_AC3', 'CI_AC4', 'CI_AC5', 'CI_AC6',
       'CI_AC7', 'CI_AC8', 'CI_AC9', 'CI_DF1', 'CI_DF2', 'CI_DF3',
       'CI_DF4', 'CI_DF5', 'CI_E1', 'CI_E2', 'CI_E3', 'CI_E4', 'CI_E4_V2',
       'CI_E5', 'CI_E6', 'CI_E7', 'CI_E7_V2', 'CI_F10_D', 'CI_F10_O',
       'CI_F11_D', 'CI_F11_O', 'CI_F12_D', 'CI_F12_O', 'CI_F13_D',
       'CI_F13_O', 'CI_F14_D', 'CI_F14_O', 'CI_F15_D', 'CI_F15_O',
       'CI_F16_D', 'CI_F16_O', 'CI_F1_D', 'CI_F1_O', 'CI_F2_D', 'CI_F2_O',
       'CI_F3_D', 'CI_F3_O', 'CI_F4_D', 'CI_F4_O', 'CI_F5_D', 'CI_F5_O',
       'CI_F6_D', 'CI_F6_O', 'CI_F7_D', 'CI_F7_O', 'CI_F8_D', 'CI_F8_O',
       'CI_F9_D', 'CI_F9_O', 'P8', 'P8new', 'P9', 'RH1'], dtype=object)

In [41]:
reduced_result = result[['CI_A1', 'CI_A10', 'CI_A11', 'CI_A12', 'CI_A14', 'CI_A15', 'CI_A2',
                        'CI_A3', 'CI_A4', 'CI_A5', 'CI_A6', 'CI_A7', 'CI_A8', 'CI_A9',
                        'CI_AC1', 'CI_AC2', 'CI_AC3', 'CI_AC4', 'CI_AC5', 'CI_AC6',
                        'CI_AC7', 'CI_AC8', 'CI_AC9', 'CI_DF1', 'CI_DF2', 'CI_DF3',
                        'CI_DF4', 'CI_DF5', 'CI_E1', 'CI_E2', 'CI_E3', 'CI_E4', 'CI_E4_V2',
                        'CI_E5', 'CI_E6', 'CI_E7', 'CI_E7_V2', 'CI_F10_D', 'CI_F10_O',
                        'CI_F11_D', 'CI_F11_O', 'CI_F12_D', 'CI_F12_O', 'CI_F13_D',
                        'CI_F13_O', 'CI_F14_D', 'CI_F14_O', 'CI_F15_D', 'CI_F15_O',
                        'CI_F16_D', 'CI_F16_O', 'CI_F1_D', 'CI_F1_O', 'CI_F2_D', 'CI_F2_O',
                        'CI_F3_D', 'CI_F3_O', 'CI_F4_D', 'CI_F4_O', 'CI_F5_D', 'CI_F5_O',
                        'CI_F6_D', 'CI_F6_O', 'CI_F7_D', 'CI_F7_O', 'CI_F8_D', 'CI_F8_O',
                        'CI_F9_D', 'CI_F9_O', 'P8', 'P8new', 'P9', 'RH1', 'finess', 'annee', 'cat']]

In [42]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
reduced_result.cat = le.fit_transform(reduced_result.cat)
reduced_result.head()

C:\Users\MC731340\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

          CI_A1  CI_A10  CI_A11  CI_A12  CI_A14  CI_A15   CI_A2   CI_A3  \
2008 0      0.0     0.0     0.0     1.0  1302.0     3.0     0.0     0.0
     1    158.0     0.0     0.0     0.0     2.0    14.0     1.0     0.0
     2   4269.0   120.0   765.0  2479.0  1043.0   101.0  1481.0  1023.0
     3  13685.0  1307.0  2041.0  5778.0  2677.0   142.0  4592.0  2461.0
     4   4233.0    40.0   552.0  1883.0  1089.0   112.0  1668.0   636.0

         CI_A4   CI_A5 ...   CI_F8_O  CI_F9_D  CI_F9_O         P8  P8new  \
2008 0  1301.0     1.0 ...      -3.0     -4.0  53553.0       -4.0   -4.0
     1     0.0     0.0 ...      -4.0     -4.0     -4.0       -4.0   -4.0
     2  1338.0  1059.0 ...      -4.0     -4.0     -4.0  1064456.0   -4.0
     3  3997.0  1425.0 ...      -4.0     -4.0     -4.0   735002.0   -4.0
     4   910.0   445.0 ...      -4.0     -4.0     -4.0   438670.0   -4.0

              P9   RH1     finess  annee  cat
2008 0     108.0  -4.0  010007300   2008    3
     1      -4.0  -4.0  010007987   2008    0
     2  187335.0  39.0  010008407   2008    0
     3  208714.0  39.0  010780054   2008    0
     4  209990.0  46.0  010780062   2008    0

[5 rows x 76 columns]

In [43]:
reduced_result.to_csv('../data/aggregated_hospidiag_data_reduced.csv', encoding='utf-8', sep=';')