# Traitement des données hospi-diag

In [8]:
import pandas as pd

categorical_mapping = {'.z' : -3,
                       '.c' : -2,
                       '.m' : -1
                      }

def mapping(x):
    try:
        return categorical_mapping[x]
    except:
        return x

In [3]:
years = [str(i) for i in range(2008, 2016)]

aggregated_dataframes = {}

for y in years:
    print('processing ', y)
    data_hd = pd.read_csv('../data/hospidiag_opendata_' + y + '.csv', encoding='utf-8', sep=';')

    for col in data_hd.columns:
        data_hd[col] = data_hd[col].map(mapping)

    data_hd.fillna(-4, inplace=True)
    data_hd['annee'] = y
    aggregated_dataframes[y] = data_hd
    print('done ', y)

result = pd.concat(aggregated_dataframes)
result.to_csv(os.path.join(data_folder, 'data_hd.csv'), encoding='utf-8', sep=';')

processing 2008

done 2008

processing 2009

done 2009

processing 2010

done 2010

processing 2011

done 2011

processing 2012

done 2012

processing 2013

done 2013

processing 2014

done 2014

processing 2015

done 2015

In [7]:
import os
data_folder = '../data/'
y = '2008'
os.listdir(os.path.join(data_folder, 'hospidiag_opendata_', y))

FileNotFoundError: [WinError 3] Le chemin d’accès spécifié est introuvable: '../data/hospidiag_opendata_\\2008'

In [10]:
data_hd = pd.read_csv('../data/hospidiag_opendata_' + y + '.csv', encoding='utf-8', sep=';')

In [11]:
data_hd.head()

,finess,rs,champ_pmsi,taa,cat,taille_MCO,taille_M,taille_C,taille_O,A7,...,CI_RH7,CI_RH8,CI_RH9,CI_RH10,CI_RH11,CI_DF1,CI_DF2,CI_DF3,CI_DF4,CI_DF5
0,010007300,CLINIQUE AMBULATOIRE CENDANEG,OQN,TAA,CLI,T1,M1,C1,NaN,.c,...,"1,38","2,28",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,010007987,CH HAUTEVILLE-LOMPNES,DGF,TAA,CH,T1,M1,C0,NaN,.c,...,"44,6","285,51","4,22","7,43","74,36",NaN,NaN,NaN,NaN,NaN
2,010008407,CH DU HAUT BUGEY,DGF,TAA,CH,T2,M2,C2,O2,.c,...,"50,5","369,28",2,"20,75","43,3",NaN,NaN,NaN,NaN,NaN
3,010780054,CH BOURG EN BRESSE,DGF,TAA,CH,T3,M4,C3,O4,.c,...,"229,73","1170,29","8,07","99,52","179,22",NaN,NaN,NaN,NaN,NaN
4,010780062,CH DE BELLEY,DGF,TAA,CH,T2,M2,C2,O2,.c,...,"50,13","319,62","0,86","22,96",37,NaN,NaN,NaN,NaN,NaN